modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run Final Bot"

[[workflows.workflow]]
name = "Run Bot"
author = 40740913
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python working_bot.py"

[[workflows.workflow]]
name = "Run Bot"
author = 40740913
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python working_bot.py"

[[workflows.workflow]]
name = "Run Final Bot"
author = 40740913
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python final_bot.py"
